<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.darkgem.io.article.ArticleMapper">

    <sql id="columns">
        id,content,rm
    </sql>

    <resultMap id="resultMap" type="org.darkgem.io.article.Article">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="rm" property="rm"/>
    </resultMap>

    <!--获取文章列表-->
    <select id="selectList" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM t_article
    </select>

    <!--新增文章-->
    <update id="insert">
        INSERT INTO t_article(<include refid="columns"/>)
        VALUES(#{article.id},#{article.content},#{article.rm})
    </update>

    <!--获取文章-->
    <select id="select" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM t_article
        WHERE id = #{id}
    </select>
</mapper>